[package]
name = "wallet"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
shared = { path = "../shared" }
wasm-bindgen = "0.2.92"
js-sys = "0.3.69"
futures = "0.3.30"
wasm-bindgen-futures= "0.4.42"
serde-wasm-bindgen = "0.6.5"
serde = "1.0.197"
serde_json = "1.0.114"
anyhow = "1.0.81"
thiserror = "1.0.58"
cfg-if = "1.0.0"
log = "0.4.21"
once_cell = "1.19.0"
gloo-events = "0.2.0"
gloo-timers = {version = "0.3.0", features = ["futures"]}
getrandom = { version = "0.2.12", features = ["js"] }
rand = "0.8.5"
cosmwasm-std = "2.0.3"

[dependencies.web-sys]
version = "0.3.69"
optional = true
features = [
    "Window",
]

[features]
node = []
web = ["web-sys"]
